div#newClassForm
    div#page
    div#form
        input#TANewClassInput.form-control(type='text', placeholder='Create New Class', autocomplete='off')
        span.input-group-btn
            button#TACreateClassButton.btn.btn-success
                span.glyphicon.glyphicon-plus
        button#TAreturn.btn-success Cancel