div#newClassForm
    div#page
    div#form
        #addHeader Create New Class
        input#TANewClassInput.form-control(size=33, type='text', placeholder='Class Name', autocomplete='off')
        .btn-group.btn-group-md
            button#TACreateClassButton.btn.btn-success Create
            button#TAreturn.btn.btn-danger Cancel

