div#addNewClassForm
   div#page
   div#form
       #addHeader Add Class
       input#studentAddNewClassInput.form-control(type='text', placeholder='Class ID', autocomplete='off')
       .btn-group
           button#studentAddClassButton.btn.btn-success(type='button') Add
           button#studentReturn.btn.btn-success(type='button') Cancel
