div#addNewClassForm
   div#page
   div#form
      input#studentAddNewClassInput.form-control(type='text', placeholder='Add New Class', autocomplete='off')
      input#rootID.form-control(type='text', placeholder='Root ID', autocomplete='off')
      span.input-group-btn
         button#studentAddClassButton.btn.btn-success
            span.glyphicon.glyphicon-plus
      button#studentReturn.btn-success Cancel