#editor

script(src='https://cdn.jsdelivr.net/ace/1.2.0/min/ace.js', type='text/javascript', charset='utf-8')
script(src='https://togetherjs.com/togetherjs-min.js')

script.
    var code = "";
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
    editor.getSession().setUseWrapMode(true);

