//
   Created by Felicia on 11/6/15.
#filewrapper
    input#fileName(type='text' name='fileName' placeholder="File Name")
    button(onclick='createFile()') Create a new file
    //ul#files

.filebar
    .filebar
        .project Workspace
        .menu-list
            ul#menu-content.menu-content.collapse.out
                li.collapsed(data-toggle='collapse', data-target='#files')
                    a(href='#')
                        i.fa.fa-folder.fa-lg
                        | Files
                        span.arrow
                ul#files.elements.collapse
                    //li.active www
                    //
                      <li><a href="#"></a></li>
                //li.collapsed(data-toggle='collapse', data-target='#public')
                //    a(href='#')
                //        i.fa.fa-folder.fa-lg
                //        |  public
                //        span.arrow
                //ul#public.elements.collapse
                //    li index.html
                //    li main.html
                //    //ol.collapsed(data-toggle='collapse', data-target='#html')
                //    //        i.fa.fa-folder.fa-lg
                //    //        |  html
                //    //        span.arrow
                //    //ul#html.elements.collapse
                //    //    li index.html
                //    //    li main.html
                //li.collapsed(data-toggle='collapse', data-target='#ex')
                //    a(href='#')
                //        i.fa.fa-folder.fa-lg
                //        |  example
                //        span.arrow
                //ul#ex.elements.collapse
                //    li example.html
                //    li example.html
                //    li example.html
                //li.collapsed(data-toggle='collapse', data-target='#ex1')
                //    a(href='#')
                //        i.fa.fa-folder.fa-lg
                //        |  example
                //        span.arrow
                //ul#ex1.elements.collapse
                //    li example.html
                //    li example.html
                //    li example.html
