.filebar
    .fileName
        input#fileName.form-control(placeholder="File Name")
    .filebar_row
        .fileButton
            button#fileButton.btn.btn-success.btn-sm(type='button') Create File
        .refreshButton
            button#refreshButton.btn.btn-info.btn-sm(type='button') Refresh
    .workspace
        div#rmenu
            ul
                li#renameContent Rename
                li#deleteContent Delete
        .project Workspace
        .menu-list
            ul#menu-content.menu-content.collapse.out
                li.collapsed(data-toggle='collapse', data-target='#files')
                    a(href='#')
                        i.fa.fa-folder.fa-lg
                        | Files
                        span.arrow
                ul#files.elements
