#filebar
    #wsName.student &nbsp;
    ul#menu-content
        li#folders
            a(href='#')
                i.fa.fa-folder.fa-lg
                | Files
                i#refreshFiles.fa.fa-refresh.fa-lg
        ul#files.elements
#rmenu
    ul
        li#renameContent Rename
        li#deleteContent Delete
