.filebar
    .workspace
        div#rmenu
            ul
                li#renameContent Rename
                li#deleteContent Delete
        .project Workspace
        .input-group#fileForm
            input#fileName.form-control(placeholder="Create a File")
            span.input-group-btn(type='text', autocomplete='off')
                button#fileButton.btn.btn-info(type='button')
                    span.glyphicon.glyphicon-plus
        .menu-list
            ul#menu-content.menu-content.collapse.out
                li.collapsed(data-toggle='collapse', data-target='#files')
                    a(href='#')
                        i.fa.fa-folder.fa-lg
                        | Files
                        span.arrow
                ul#files.elements
