#filebar
    #rmenu
        ul
            li#renameContent Rename
            li#deleteContent Delete
    #wsName Workspace
    form#fileForm
        .input-group#fileForm
            input#fileName.form-control(type='text', placeholder='Create a File', autocomplete='off')
            span.input-group-btn
                button#fileButton.btn.btn-info
                    span.glyphicon.glyphicon-plus
    ul#menu-content.menu-content.collapse.out
        li#folders.collapsed(data-toggle='collapse', data-target='#files')
            a(href='#')
                i.fa.fa-folder.fa-lg
                | Files
                span.arrow
        ul#files.elements