div#joinQuestionsPage
   div#page
   div#joinQuestionsForm.col-md-4
      #addHeader Join Question
      #questionInfo
          #studentQuestion
          hr#separator
          #asker
      .btn-group
          button#joinButton.btn.btn-success(type='button') Join
          button#joinReturn.btn.btn-danger(type='button') Cancel