doctype html

html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Muli')
        link(rel='stylesheet', href='/stylesheets/terminal.css')
        link(rel='stylesheet', href='/stylesheets/sidebar.css')
        link(rel='stylesheet', href='/stylesheets/workspace.css')
        link(rel='stylesheet', href='/stylesheets/textchat.css')
        link(rel='stylesheet', href='/stylesheets/filebar.css')
        link(rel='stylesheet', href='/stylesheets/login.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
        script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.js', data-main='javascripts/app')
    body
        block content
                                      
