doctype html

html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/stylebar.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
        script(src='http:/ /ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js')
        include libraries
    body(style={background: '#252821'})
        block content
                                      