script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.js', data-main='javascripts/app')

//script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
//script(src='//apis.google.com/js/api.js')
//script(src='//code.angularjs.org/1.2.14/angular.js', data-require='angular.js@*', data-semver='1.2.14')
//script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')


