//Created by jessicahuang2 on 11/29/15.
div#login-hovering
    div#page

    div#form-login
      h4 User Login
      input.form-control.input-sm.chat-input#userName(type='text' name='username' placeholder='Username')
      input.form-control.input-sm.chat-input#password(type='text' name='password' placeholder='Password')
      .button
         button.btn.btn-primary.btn-sm#login Log In
         button.btn.btn-primary.btn-sm#logout Log Out
         button.btn.btn-primary.btn-sm#signup Sign Up
