extends layout

block content
    include login
    include workspace
    include textchat
    include sidebar

    .container
        .row
            .col-md-2
                include filebar
            .col-md-9
                #vidwrapper
                #editor
                #terminal

