extends layout

block content
    .col-md-3
        include filebar
    .col-md-6
        .row
            .row_editor
                include codeeditor
            .row_video
                include webrtc
    .col-md-3 sidebar
        include sidebar
