extends layout

block content
    include login
    include workspace
    include textchat

    .container
        .row
            .col-md-2
                include filebar
            .col-md-9
                include codeeditor
                include webrtc
            .col-md-1
                include sidebar