extends layout

block content
    include login
    include workspace
    include textchat
    include sidebar
    include terminal

    .container
        .row
            .col-md-2
                include filebar
            .col-md-9
                #vidwrapper
                #editor


