extends layout

block content
   include login
   include textchat_student
   include sidebar_student

   .container
      .row
         .col-md-2
            include filebar_student
         .col-md-9
            #editor
            #vidwrapper
            include terminal_student