div#questionFormPage
    div#page
    div#questionForm
        #addHeader Add Question
        input#questionInput.form-control(type='text', placeholder='Question', autocomplete='off')
        .btn-group
            button#questionSubmitButton.btn.btn-success(type='button') Add
            button#questionReturn.btn.btn-success(type='button') Cancel