extends layout
block content
    .container
       h3
          | Please enter your topic
       .dropdown
         button#topicDropdown.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
            | Dropdown
            span.caret
         ul.dropdown-menu(aria-labelledby='topicDropdown')
            li
               a(href='#') GiHub
            li
               a(href='#') Arrays
            li
               a(href='#') Artificial intelligence
       h3
         | Please enter your question
       .input-group.input-group-lg
          input.form-control(type='text')
       button.btn.btn-success(type='button') Submit