doctype html
html
    head
        title Question List
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/stylesheets/users.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js', data-main='javascripts/question')
    body
        h3
            | Question List
        table
            thead
                tr
                    th Topic
                    th Question
            tbody
                //each question, i in questionlist
                //    tr
                //        td #{i} #{question.topic}
                //        td #{question.question}