div#questionFormPage
    div#page
    div#questionForm
        #addHeader Add Question
        textarea#questionInput.form-control(rows="5", type='text', placeholder='Type your question here...', autocomplete='off')
        .btn-group
            button#questionSubmitButton.btn.btn-success(type='button') Add
            button#questionReturn.btn.btn-success(type='button') Cancel