div#renameFormPage
    div#page
    div#renameForm
        #addHeader Rename File
        input#renameInput.form-control(size=33, type='text', placeholder='File Name', autocomplete='off')
        .btn-group
            button#renameButton.btn.btn-success(type='button') Rename
            button#renameCancel.btn.btn-danger(type='button') Cancel