.sidebar
    ul
        li
            a(href='/classes')
                i.fa.fa-home.fa-lg
                br
        li.non-psersistent#search(associated='#framewrapper')
            i.fa.fa-search.fa-lg.n
            br
        li.non-psersistent#workspace(associated='#workwrapper')
            i.fa.fa-question-circle.fa-lg
            br
        li.non-psersistent#chat(associated='#chatwrapper')
            i.fa.fa-comments.fa-lg
            br
        li.non-psersistent.terminal#openTerminal
            i.fa.fa-terminal.fa-lg
            br
        li#microphone
            i.fa.fa-microphone.fa-lg
            br
        li#videoButton
            i.fa.fa-video-camera.fa-lg
            br
#framewrapper
    iframe#frame(src='//duckduckgo.com')
