.sidebar
    ul
        li#search
            i.fa.fa-search.fa-lg
            br
        li#workspace
            i.fa.fa-archive.fa-lg
            br
        li#chat
            i.fa.fa-comments.fa-lg
            br
        li#microphone
            i.fa.fa-microphone.fa-lg
            br
        li#videoButton
            i.fa.fa-video-camera.fa-lg
            br
        li#inviteEmail
            i.fa.fa-envelope.fa-lg
            br
        li#openTerminal
            i.fa.fa-terminal.fa-lg
            br
#framewrapper
    iframe#frame(src='//duckduckgo.com')
