.sidebar
    .list
        ul.content
            li
                i.fa.fa-keyboard-o.fa-lg
                br
            li#search
                i.fa.fa-search.fa-lg
                br
#framewrapper
    iframe#frame(src='https://www.bing.com')
    script.
        angular.element(document).ready(function(){
            var app=angular.module("app",[]);
            app.controller("test",function($scope){
                $scope.show=false;
            });
            angular.bootstrap(document,["app"]);
        });
    script.
        $(document).ready(function () {
            $("#framewrapper").animate({
                right: "4%",
                width: "toggle"
            }, 1000, function () {
            });
            $("#search").click(function () {
                $("#framewrapper").animate({
                    right: "4%",
                    width: "toggle"
                }, 1000, function () {
                });
            });
        });