div#similarQuestionsPage
    div#page
    div.col-md-6#similarQuestionsForm
        #addHeader Similar Questions
        ol#simquestionTableBody
        .btn-group
            button#simquestionAddButton.btn.btn-success(type='button') Ignore