div#similarQuesionsPage
   div#similarQuestionsForm
       .container
           .row
               .col-md-8
                   h3 Similar Questions
                   br
                   ol.elements
                   br