div#similarQuestionsPage
    div#page
    div#similarQuestionsForm
        #addHeader Similar Questions
        table
            tbody#simquestionTableBody
        .btn-group
            button#simquestionAddButton.btn.btn-success(type='button') Got it!