div#similarQuestionsPage
   div#similarQuestionsForm
       h3 Similar Questions
       table
           tbody#simquestionTableBody
       button#simquestionAddButton.btn.btn-success(type='button') Go back