#termwrapper
    #connectionForm
        #terminalHeader Terminal
        span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
        #terminalOps
            form#terminalForm
                .formHeader Remote host Login
                .input-group
                    span.input-group-addon#terminal-addon1 User
                    input#terminalUser.form-control(type='text', placeholder='ex. John', autocomplete='off', aria-describedby='terminal-addon1')
                br
                .input-group
                    span.input-group-addon#terminal-addon2 @
                    input#terminalHost.form-control(type='text', placeholder='Host', autocomplete='off', aria-describedby='terminal-addon2')
                    span.input-group-addon#terminal-addon3 Port
                    input#terminalPort.form-control(type='text', autocomplete='off', aria-describedby='terminal-addon3' value='22')
                br
                button#connectTerminal.btn.btn-info Connect
    #terminalGroup
        .input-group
            input.form-control(type='text', placeholder='File path')
            span.input-group-btn
                button#downloadButton.btn.btn-primary(type='button') Download
                button#uploadButton.btn.btn-info(type='button') Upload
        #terminal
