#termwrapper
    #connectionForm
        #terminalHeader Terminal
        #terminalOps
            #topTerminal
                button#joinButton.btn.btn-success Join Existing Session
            #separator
                #line
                    span OR
            form#terminalForm
                .input-group
                    .formHeader Terminal Login
                    input#terminalUser.form-control(type='text', placeholder='Username', autocomplete='off')
                    input#terminalHost.form-control(type='text', placeholder='Host', autocomplete='off')
                    input#terminalPort.form-control(type='text', placeholder='Port', autocomplete='off')
                    button#connectTerminal.btn.btn-success Connect
    #terminal
