#chatwrapper
   #chatheader.student Chat
   ul#messages
   form#textform
      .input-group
         input#m.form-control(type='text', placeholder='Type a message...', autocomplete='off')
         span.input-group-btn
            button.btn.btn-success Send