#chatwrapper
    #chatheader Chat
    ul#messages
    form#textform
        .input-group
            textarea#m.form-control(type='text', placeholder='Type a message...', autocomplete='off')
            span.input-group-btn
                button.btn.btn-success Send




