//Created by tyler on 10/15/15.
doctype html
html(lang="en")
    head
        title Account
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/stylesheets/users.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js', data-main='javascripts/users')

    body
        div#wrapper
            div#logbox
                h1 Sign Up
                input#userName.input.pass(name='username', type='text', placeholder='Username')
                input#password.input.pass(name='password', type='password', placeholder='Password', required='required')
                //input.input.pass(name='', type='password', placeholder='Confirm password', required='required')
                button#signup.btn.btn-success.btn-sm Sign Up
                div#signin-button

