#workwrapper
    #wsblock
        #wsHeader Select a Workspace
        .input-group#workspaceform
            input#newWorkSpaceInput.form-control(type='text', placeholder='Create New Workspace', autocomplete='off')
            span.input-group-btn
                button#workSpaceButton.btn.btn-success
                    span.glyphicon.glyphicon-plus
        #scrollws
            ul#workSpaceList.elements

