script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js', data-main='javascripts/users')

#workwrapper
    #wsblock
        #wsHeader Select a Workspace
        .input-group#workspaceform
            input#newWorkSpaceInput.form-control(type='text', placeholder='Create New Workspace', autocomplete='off')
            span.input-group-btn
                button#workSpaceButton.btn.btn-success
                    span.glyphicon.glyphicon-plus
        ul#workSpaceList.elements

