script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js', data-main='javascripts/users')

#workwrapper
    .workspaces
        .brand Select a Workspace
        .worklist
            ul#menu-content.menu-content.collapse.out
                li.collapsed(data-toggle='collapse', data-target='#workSpaceList')
                ul#workSpaceList.elements

