#framewrapper {
    position: fixed;
    top: 0;
    right: 3%;
    width: 25%;
    height: 100%;
    z-index: 101;
}

#frame{
    width: 100%;
    height: 100%;
    z-index: 101;
    right: 3%;
}

.sidebar { /*actual side bar*/
    z-index: 102;
    overflow: auto;
    font-size: 12px;
    font-weight: 200;
    background-color: #181818;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #e1ffff;
}

.sidebar ul,
.sidebar li { /* each element in side bar*/
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

/*          DO NO NEED TO CARE FOR SIZING             */

.sidebar li {
    padding-left: 0;
    border-left: 3px solid #181818;
    border-bottom: 1px solid #181818;
}
.sidebar li a {
    text-decoration: none;
    color: #e1ffff;
}

@media (max-width: 767px) {
    .sidebar {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .sidebar {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #181818;/*#ffffff;*/
        color: #000;
        width: 40px;
        text-align: center;
    }
}
@media (min-width: 767px) {
    .sidebar .list .content {
        display: block;
    }
}

/*#frame { width: 800px; height: 100%; border: 1px solid black; }*/
/*#frame {*/
    /*-ms-zoom: 0.75;*/
    /*-moz-transform: scale(0.75);*/
    /*-moz-transform-origin: 0 0;*/
    /*-o-transform: scale(0.75);*/
    /*-o-transform-origin: 0 0;*/
    /*-webkit-transform: scale(0.75);*/
    /*-webkit-transform-origin: 0 0;*/
/*}*/
