#framewrapper {
    position: fixed;
    top: 0;
    right: 6%;
    width: 25%;
    height: 100%;
    z-index: 101;
}

.popout{ /* the iframe that comes out*/
    width: 100%;
    height: 100%;
    z-index: 101;
}
.animate-show {
    display:block!important;
    -webkit-transition:all 1.0s ease-in-out;
    -moz-transition:all 1.0s ease-in-out;
    -o-transition:all 1.0s ease-in-out;
    transition:all 1.0s ease-in-out;
    opacity:1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display:block!important;
}

.animate-show.ng-hide {
    opacity:0;
}

.sidebar { /*actual side bar*/
    z-index: 101;
    overflow: auto;
    font-size: 12px;
    font-weight: 200;
    background-color: #181818;
    position:   absolute;
    /*top: 0;*/
    /*right: 0;*/
    min-width: 4.165%;
    width: 100%;
    height: 100%;
    color: #e1ffff;
}

.sidebar ul,
.sidebar li { /* each element in side bar*/
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}




/*          DO NO NEED TO CARE FOR SIZING             */

.sidebar li {
    padding-left: 0;
    border-left: 3px solid #181818;
    border-bottom: 1px solid #181818;
}
.sidebar li a {
    text-decoration: none;
    color: #e1ffff;
}

@media (max-width: 767px) {
    .sidebar {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .sidebar {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #181818;/*#ffffff;*/
        color: #000;
        width: 40px;
        text-align: center;
    }
}
@media (min-width: 767px) {
    .sidebar .list .content {
        display: block;
    }
}



