body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#editor {
    position:   absolute;
    z-index:    90;
    height:     80%;
    width:      107%;
}

#localVideo,
#remoteVideo{
    width:      20%;
    height:     20%;
    float:      left;
    
}

.col-md-2,
.col-md-3{
    height: 100vh;
    /*background-color: #181818;*/
    padding: 0 !important;
    margin: 0 !important;
}

.col-md-6,
.col-md-1,
.col-md-9{
    height: 100vh;
    background-color: black;
}

.row{
    height: 100vh;
}

.row_editor{
    height: 80%;
}
.row_video{
    height: 20%;
    width: 107%;
    display: table;
    margin: 0 auto;
}

