body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#editor {
    position:   absolute;
    z-index:    90;
    height:     80%;
    width:      100%;
}

#localVideo {
    width:      29%;
    display:    inline-block;
    float:      left;
}

#remoteVideo{
    width:      29%;
    display:    inline-block;
    float:      left;
}

.col-md-3 {
    height: 100vh;
    width:  20vh;
}

.col-md-6 {
    height: 100vh;
}

.row{
    height: 100vh;
}

.row_editor{
    height: 80%;
}

.row_video{
    height: 20%;
    float: left;
}

