#workwrapper {
    position: fixed;
    top: 0;
    right: 4%;
    width: 25%;
    height: 100%;
    z-index: 105;
    display: none;
    border: 5px solid white;
    background-color: white;
}

#wsblock {
    width: 100%;
    height: 100%;
    font-family: 'Muli', sans-serif;
}

#wsHeader {
    background-color: #B72C2C;
    z-index: 105;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
}

#workSpaceList li {
    list-style: none;
    cursor: pointer;
    font-size: 20px;
}

#workSpaceList li a:before {
    font-family: FontAwesome;
    content: "\f005";
    padding-left: 10px;
    padding-right: 20px;
    vertical-align: middle;
}

#workSpaceList li a {
    text-decoration: none;
    color: black;
    padding: 15px;
    line-height: 30px;
    border-radius: 7px;
    display: inline-block !important;
    width: 100%;
    background-color: #d2d2d2;
    margin-bottom: 10px;
}

#wsblock ul {
    padding-left: 0;
    margin: 10px;
}

#workSpaceList li a:hover {
    background-color: #797777;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    color: white;
}

#workspaceform {
    padding: 10px 10px 0 10px;
}

.btn-success {
    background-color: #4f5b69 !important;
    border-color: #4f5b69 !important;
}

.btn-success:hover {
    background-color: #7D8792 !important;
    border-color: #7D8792 !important;
}