//
   Created by tyler on 10/15/15.

doctype html
html(lang="en")
    head
        script(src='//www.parsecdn.com/js/parse-1.6.7.min.js')
        script(src='../javascripts/signup.js')
    body
        h1 Sign up
        h1 Log in